table{
    width: 90%;
    height: 70%;
}

.namelien{
    float: left;
}

.parent1{
    background-color: black;
    display: block;
}

.parent2{
    display: block;
}

.parent3{
    background-color: white;
}
